<!doctype html>
<html>
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>Top PyPI Packages | A web page with the most-downloaded packages from PyPI.</title>

  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

  {% include 'components/_meta.html' %}
</head>
<body class="bg-gray-900 text-gray-50 text-base font-sans min-h-screen w-100">

  <div class="flex justify-center text-center mt-10">
    <div>
      <h1 class="text-3xl font-semibold m-3">404 - Page Not Found</h1>

      <p class="m-3">I'm sorry but the page you are looking for doesn't exist.</p>

      <a href="./index.html" class="px-5 py-1 m-3 border border-gray-800 rounded-md shadow-sm text-gray-400 text-lg hover:bg-green-500 hover:text-white">Home</a>
    </div>
  </div>
</body>
</html>
