<footer class="flex flex-col lg:flex-row lg:justify-between mt-12 mb-5 py-5">
  <div>
    <div class="flex items-center mb-1">
      {{ icons.logo(class='w-6 h-6 self-center text-white') }}

      <h1 id="title" class="font-semibold text-lg mx-3">Top PyPi Packages</h1>

      <span class="justify-self-stretch text-sm text-gray-400">Version {{ version }}</span>
    </div>

    <p>Last updated <span class="text-sm text-gray-400">{{ timestamp }}</span> (Updated monthly.)</p>
  </div>

  <p class="mt-5 lg:mt-0">{{ utils.link('Check out the source code on GitHub →', 'https://github.com/Robert-96/top-pypi-packages', class='hover:underline') }}</p>
</footer>
