<div id="packages" class="flex flex-col flex-shrink-0">
  <div id="searching" class="flex items-center hidden">
    {{ icons.loader(class='animate-spin w-5 h-5 self-center text-white mr-1') }}

    <p class="text-base">Searching</p>
  </div>

  {% for package in packages %}
    <div id="{{ package.name }}" class="my-1 py-5 flex-none border-b border-gray-800">
      <h3 class="mb-2 text-lg font-bold">
        <span>#{{ package.index }}</span>

        <a href="{{ package.url }}" class="mr-1 text-green-400 hover:underline" target="_blank" rel="noopener noreferrer">{{ package.name }}</a>

        <span class="font-normal text-sm text-gray-400">{{ package.download_count|format_download_count }}</span>
      </h3>

      <div class="mb-5">
        <p>{{ package.summary }}</p>
      </div>

      {% if package.keywords %}
        <div class="flex flex-wrap mb-3 font-semibold text-sm">
          {%- for keyword in package.keywords %}
            {{ utils.keyword(keyword, class="mr-3 mb-3") }}
          {% endfor %}
        </div>
      {% endif %}

      <div class="flex flex-wrap items-center text-gray-400">
        {% if package.license %}
          <div class="flex items-center mr-3 md:mr-5">
            {{ icons.scale(class='w-4 h-4 mr-1 self-center') }}

            <span>{{ package.license|truncate(64) }}</span>
          </div>
        {% endif %}

        {% if package.version %}
          <div class="flex items-center mr-3 md:mr-5">
            {{ icons.tag(class='w-4 h-4 mr-1 self-center') }}

            <span>v{{ package.version }}</span>
          </div>
        {% endif %}

        <div class="flex items-center">
          {{ icons.download(class='w-4 h-4 mr-1 self-center') }}

          <span>{{ package.download_count|format_number }}</span>
        </div>
      </div>
    </div>
  {% endfor %}

  <div id="no-results" class="hidden py-10 text-center text-lg font-medium border-b border-gray-800">
    <span>Did not found any packages that match.</span>
  </div>
</div>
