<div id="projects" class="flex flex-col">
  {% for project in projects %}
    <div id="{{ project.name }}" class="project my-1 py-5 flex-none border-b border-gray-800">
      <h3 class="mb-2 text-lg font-bold">
        <span>#{{ project.index }}</span>

        <a href="{{ project.project_url }}" class="mr-1 text-green-400 hover:underline" target="_blank" rel="noopener noreferrer">{{ project.name }}</a>

        <span class="font-normal text-sm text-gray-300">{{ project.download_count|format_download_count }}</span>
      </h3>

      <div class="mb-5">
        <p>{{ project.summary }}</p>
      </div>

      {% if project.keywords %}
        <div class="flex flex-wrap mb-1 font-semibold text-sm lg:hidden">
          {%- for keyword in project.keywords[:3] %}
            {{ utils.keyword(keyword) }}
          {% endfor %}

          {% if project.keywords|length > 3 %}
            <div class="tooltip cursor-pointer">
              <span>+{{ project.keywords|length - 3 }} more</span>

              <span class="tooltip-text p-2 bg-black text-gray-50 rounded-sm">{{ project.keywords[3:]|join(', ') }}</span>
            </div>
          {% endif %}
        </div>

        <div class="flex-wrap mb-1 font-semibold text-sm hidden lg:flex">
          {%- for keyword in project.keywords[:5] %}
            {{ utils.keyword(keyword) }}
          {% endfor %}

          {% if project.keywords|length > 5 %}
            <div class="tooltip cursor-pointer">
              <span>+{{ project.keywords|length - 5 }} more</span>

              <span class="tooltip-text p-2 bg-black text-gray-50 rounded-sm">{{ project.keywords[5:]|join(', ') }}</span>
            </div>
          {% endif %}
        </div>

      {% endif %}

      <div class="flex flex-wrap items-center">
        {% if project.license %}
          <div class="flex items-center mr-3 md:mr-5">
            {{ icons.scale(class='w-4 h-4 mr-1 self-center text-white') }}

            <span>{{ project.license|truncate(64) }}</span>
          </div>
        {% endif %}

        {% if project.version %}
          <div class="flex items-center mr-3 md:mr-5">
            {{ icons.tag(class='w-4 h-4 mr-1 self-center text-white') }}

            <span>v{{ project.version }}</span>
          </div>
        {% endif %}

        <div class="flex items-center">
          {{ icons.download(class='w-4 h-4 mr-1 self-center text-white') }}

          <span>{{ project.download_count|format_number }}</span>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
